# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

/src/flag_gems/*      @0x45f   @huangyiqun @douxetpur @bin913 @w1120029931-bit @hellojack163 @Caeruleann
/src/flag_gems/runtime/backend/*

/tests/*             @0x45f   @huangyiqun @douxetpur @bin913 @w1120029931-bit @hellojack163 @Caeruleann
/modules_tests/*     @0x45f   @huangyiqun @douxetpur @bin913 @w1120029931-bit @hellojack163 @Caeruleann
/benchmark/*         @0x45f   @huangyiqun @douxetpur @bin913 @w1120029931-bit @hellojack163 @Caeruleann


/lib/*                @0x45f   @huangyiqun @douxetpur @bin913 @w1120029931-bit @hellojack163 @Caeruleann
/ctests/*             @0x45f   @huangyiqun @douxetpur @bin913 @w1120029931-bit @hellojack163 @Caeruleann
/include/*            @0x45f   @huangyiqun @douxetpur @bin913 @w1120029931-bit @hellojack163 @Caeruleann
