--index-url https://resource.flagos.net/repository/flagos-pypi-hosted/simple
--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple
--trusted-host resource.flagos.net pypi.tuna.tsinghua.edu.cn
flagtree==0.3.0rc2+xpu3.0
scikit-build-core>=0.11
pybind11
ninja
cmake
