/* Custom styles for readability */

h1 {
  font-weight: 600 !important;
}

h2 {
  font-weight: 500 !important;
}

.book-menu {
  background: #e8f3f9;
  a.active {
    font-weight: bolder;
  }
}

main {
  &.container {
    max-width: inherit;
  }
}

.markdown {
  td {
    code {
      border: none;
      background: inherit;
      color: #3388aa;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .book-menu {
    background: #2a3540;
  }

  .markdown {
    td {
      code {
        color: #7cc4e0;
      }
    }
  }
}

// @import "plugins/numbered";
// @import "plugins/scrollbars";
